.about {
  background-color: #232323;
  padding: 1rem;
  color: #fff;
  width: 100%;
  text-align: center;
}
.about_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.about_info {
  width: 50%;
}
.about_info h4 {
  font-size: 25px;
  margin-top: 1rem;
  line-height: 1.5;
}
.about_content img {
  /* border-radius: 10px; */
  width: 450px;
  height: 350px;
}

@media screen and (max-width: 789px) {
  .about_content {
    flex-direction: column-reverse;
  }
  .about_info {
    margin-bottom: 1rem;
  }
  .about_content img {
    width: 450px;
    height: 430px;
  }
  .about_info {
    width: 100%;
  }
  .about_info h4 {
    font-size: 22px;
  }
}
@media screen and (max-width: 489px) {
  .about_content img {
    width: 300px;
    height: 300px;
  }
  .about_info h2 {
    font-size: 40px;
  }
  .about_info h4 {
    font-size: 18px;
  }
}
